body {
    /* color: #777; */
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
/* #layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
} */
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 2em;
     border-bottom: 1px solid #eee;
 }
    .header h1, h2, h3 {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
    }
    .header h1 {
        margin: 0.2em S0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        font-size: 2em;
        padding: 0;
        margin-bottom: -0.5em;
    }
    .header h3 {
        font-weight: normal;
    }

.content-subhead {
    /* margin: 50px 0 20px 0; */
    font-weight: 300;
    /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
    /* color: #888; */
}


/* Paranthesized lists: https://stackoverflow.com/a/66000624/2691018 */


ol.custom-marker {
    counter-reset: list;
}

ol.custom-marker > li {
    list-style: none;
    counter-increment: list;
    font-weight: bold;
}

ol.custom-marker.parens-around.decimal > li::marker {
    content: "(" counter(list) ")\a0";
}

ol p {
    font-weight: normal;
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: justify;
}

ol img {
    width: 100%;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        /* padding-left: 150px; left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }
/*
    #layout.active .menu-link {
        left: 150px;
    } */
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    /* #layout.active {
        position: relative;
        left: 150px;
    } */
}
